h1, .display-3{
    font-size: 1.6rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

@media (min-width: 576px) {
    h1, .display-3{
        font-size: 2.6rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) {
    h1, .display-3{
        font-size: 3rem;
    }
    h2 {
        font-size: 2.6rem;
    }
}

@media (min-width: 992px) {
    h1, .display-3{
        font-size: 4.2rem;
    }
    h2 {
        font-size: 3rem;
    }
}


.card-hover .card-img-overlay{
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.card-hover:hover .card-img-overlay{
    visibility: visible;
    opacity: 10;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgb(0, 0, 0, 0.5) 100%);
    transition: opacity 0.4s ease;
}

.bg-cover {
    background-image: url('/gallery/cover.png');
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

.bg-cover .jumbotron {
    background-color: rgba(0,0,0,0.6);
}